/* cssclass: colorful-highlight */

:root {
    --color-highlight-1: var(--text-normal);
    --color-highlight-2: var(--text-normal);
    --color-highlight-3: var(--text-normal);
    --bg-color-highlight-1: #c865656f;
    --bg-color-highlight-2: #54b9476f;
    --bg-color-highlight-3: #1e83d086;
    --font-weight-highlight-1: normal;
    --font-weight-highlight-2: normal;
    --font-weight-highlight-3: normal;
}

.markdown-source-view .cm-highlight[class*="formatting"] {
    background-color: transparent;
}

/* *==xxx==* 斜体+高亮 */
.markdown-source-view .cm-em.cm-highlight:not(.cm-strong):not([class*="formatting"]),
:is(.markdown-preview-view, .markdown-source-view) :not(font):not(strong) > em > mark {
    background-color: var(--bg-color-highlight-1);
    color: var(--color-highlight-1);
    font-style: normal;
    font-weight: var(--font-weight-highlight-1);
    border-radius: var(--radius-s);
    padding: 2px 4px;
}

/* **==xxxx==** 加粗+高亮 */
.markdown-source-view .cm-strong.cm-highlight:not(.cm-em):not([class*="formatting"]),
:is(.markdown-preview-view, .markdown-source-view) :not(font):not(em) > strong > mark {
    background-color: var(--bg-color-highlight-2);
    color: var(--color-highlight-2);
    font-weight: var(--font-weight-highlight-2);
    border-radius: var(--radius-s);
    padding: 2px 4px;
}

/* ***==xxxx==*** 加粗+斜体+高亮 */
.markdown-source-view .cm-strong.cm-em.cm-highlight:not([class*="formatting"]),
:is(.markdown-preview-view, .markdown-source-view) :not(font) > strong > em > mark {
    background-color: var(--bg-color-highlight-3);
    color: var(--color-highlight-3);
    -webkit-text-fill-color: unset;
    font-style: normal;
    font-weight: var(--font-weight-highlight-3);
    border-radius: var(--radius-s);
    padding: 2px 4px;
}
